$background: #ffffff;
$text-primary: #333333;
$text-secondary: #75777a;
$blue-primary: #065bea;
$blue-secondary: #0451d2;
$red: #ff4b26;
$green: #6fcf97;
$grey: #c6d0e0;
$defaultInputBorder: #e0e5e9;
